@import "inc/bootstrap";

$buttonColor: #fff;
$buttonBgColor: #266d9c;
$buttonDisabledColor: #000;
$buttonDisabledBgColor: #afb4bb;
$textColor: #222222;
$borderColor: #dddddd;
$tabsBgColor: #f2f2f2;
$activeTabColor: #0e5d91;
$activeTabBgColor: #ffffff;
$pagesBgColor: #eeeeee;
$pageBgColor: #FFFFFF;
$shadowColor: #888888;
$boxShadowColor: #E8E8E8;
$navGradientStart: #ffffff;
$navGradientEnd: #f2f2f2;

@mixin tooltip-styles {
    color: var(--textreader-text-color);
    outline: none;
    text-decoration: underline;
    cursor: pointer;
    position: relative;

    &:hover {
        color: $info;
    }

    &:focus-visible {
        color: $info;
        border: 1px dashed $info;
    }

    &:after {
        content: none;
    }
}

.textReaderInteraction {
    --textreader-page-bg-color: #{$pageBgColor};
    --textreader-text-color: #{$textColor};
    --textreader-border-color: #{$borderColor};
    --textreader-tabs-bg-color: #{$tabsBgColor};
    --textreader-active-tab-color: #{$activeTabColor};
    --textreader-active-tab-bg-color: #{$activeTabBgColor};
    --textreader-pages-bg-color: #{$pagesBgColor};
    --textreader-shadow-color: #{$shadowColor};
    --textreader-box-shadow-color: #{$boxShadowColor};
    --textreader-nav-gradient-start: #{$navGradientStart};
    --textreader-nav-gradient-end: #{$navGradientEnd};
    --textreader-button-color: #{$buttonColor};
    --textreader-button-bg-color: #{$buttonBgColor};
    --textreader-button-disabled-color: #{$buttonDisabledColor};
    --textreader-button-disabled-bg-color: #{$buttonDisabledBgColor};

    margin-top: 10px;

    // button style had to been copied to do not depend on platform
    .btn-info {
        color: var(--textreader-button-color);
        background-color: var(--textreader-button-bg-color);
        border: 1px solid var(--textreader-button-bg-color);
        border-radius: 3px;
        text-shadow: 1px 1px 0 blacken($buttonBgColor, .2);
        height: 25px;
        font-size: 14px;
        outline: none;
        cursor: pointer;

        &:hover, &:focus {
            opacity: .85;
        }

        &[disabled] {
            outline: none;
            background-color: var(--textreader-button-disabled-bg-color);
            border-color: var(--textreader-button-disabled-bg-color);
            text-shadow: 1px 1px 0 blacken($buttonBgColor, .2);
            cursor: not-allowed;
            opacity: 0.55;
            color: var(--textreader-button-disabled-color);
        }
    }

    .tr-wrap {
        width: 100%;
        border-radius: 3px;
    }

    .tr-passage {
        position: relative;
        overflow-y: auto;
        display: table;
        table-layout: fixed;
        width: 100%;
        border-collapse: separate;
        border-spacing: 10px;
    }
    .tr-passage-column {
        margin: auto;
        border: 1px dashed transparent;
        display: table-cell;
        position: relative;
        vertical-align: top;
    }

    .tr-pages {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--textreader-pages-bg-color);
        border: 1px solid var(--textreader-border-color);
    }
    .tr-pages-wrap {
        position: relative;
        border: 1px solid var(--textreader-border-color);
        padding: 10px;
    }

    .tr-page {
        background-color: var(--textreader-page-bg-color);
        border: 1px solid var(--textreader-border-color);
        -webkit-box-shadow: 1px 1px 3px 0px var(--textreader-shadow-color);
        box-shadow: 1px 1px 3px 0 var(--textreader-shadow-color);
        margin: 10px;
        overflow-y: auto;
        color: var(--textreader-text-color);

        table td, table th {
            border: 1px solid currentColor;
        }
    }

    .light-mode {
        .tr-pages-wrap,
        .tr-pages,
        .tr-page {
            border: 0 none;
            padding: 0;
            margin: 0;
        }
    }

    .tr-tabs {
        position: relative;
    }

    .tr-tab-buttons {
        margin: 0;
        list-style: none;
        position: relative;
        z-index: 10;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            display: block;
            box-shadow: 0 0 10px #555;
            z-index: 10;
        }
        .tr-tab-buttons__item.tr-active-tab {
            color: var(--textreader-active-tab-color);
            font-weight: bold;
            background-color: var(--textreader-active-tab-bg-color);
            z-index: 20;
        }
    }

    .tr-tab-buttons__item {
        height: 25px;
        display: inline-block;
        padding: 0;
        position: relative;
        line-height: 25px;
        border-radius: 3px;
        border: 1px solid var(--textreader-border-color);
        cursor: pointer;
        background-color: var(--textreader-tabs-bg-color);

        &:hover {
            color: var(--textreader-active-tab-color);
            font-weight: bold;
        }
        .tr-tab-label {
            display: block;
            height: 25px;
            line-height: 25px;
            padding: 0px 20px;
        }

        &:focus {
            outline: solid $buttonBgColor 1px;
        }
    }

    .tr-tabs-top {
        .tr-tab-buttons {
            padding: 5px 10px 0 10px;
            height: 32px;
            top: 1px;

            &:after {
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 5px;
                border-radius: 50% 50% 0 0;
            }
        }
        .tr-tab-buttons__item {
            margin-right: 0px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            z-index: 0;
            top: 2px;
            &.tr-active-tab {
                box-shadow: 1px -2px 3px var(--textreader-box-shadow-color);
                border-bottom-color: var(--textreader-active-tab-bg-color);
            }
        }
    }

    .tr-tabs-left {
        .tr-pages-wrap {
            margin-left: 70px;
            border-left: 1px solid var(--textreader-border-color);
        }
        .tr-tab-buttons {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 71px;
            padding: 10px 0 0 0;

            &:after {
                right: -10px;
                top: 0;
                width: 10px;
                border-radius: 50%;
                height: 100%;
            }
            .tr-tab-buttons__item {
                width: 55px;
                float: right;
                position: relative;
                left: 0px;
                &.tr-active-tab {
                    border-right-color: var(--textreader-active-tab-bg-color);
                    box-shadow: -3px 2px 3px var(--textreader-box-shadow-color);
                }
            }
        }
        .tr-tab-buttons__item {
            margin-bottom: 5px;
            width: 90px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .tr-tabs-right {
        .tr-pages-wrap {
            margin-right: 70px;
            border-right: 1px solid var(--textreader-border-color);
        }
        .tr-tab-buttons {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 71px;
            padding: 10px 0 0 0;

            &:after {
                left: -10px;
                top: 0;
                width: 10px;
                border-radius: 50%;
                height: 100%;
            }
            .tr-tab-buttons__item {
                width: 55px;
                position: relative;
                &.tr-active-tab {
                    border-left-color: var(--textreader-active-tab-bg-color);
                    box-shadow: 2px 2px 3px var(--textreader-box-shadow-color);
                }
            }
        }
        .tr-tab-buttons__item {
            margin-bottom: 5px;
            width: 90px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .tr-tabs-bottom {
        .tr-pages-wrap {
            margin-bottom: 32px;
            padding-bottom: 10px;
        }
        .tr-tab-buttons {
            position: absolute;
            left: 0;
            bottom: 0;
            border-left: 1px solid var(--textreader-border-color);
            border-right: 1px solid var(--textreader-border-color);
            border-bottom: 1px solid var(--textreader-border-color);
            padding: 0 10px 5px 10px;
            height: 34px;
            width: 100%;

            &:after {
                left: 0;
                top: 0;
                width: 100%;
                height: 1px;
            }
            .tr-tab-buttons__item {
                position: relative;

                &.tr-active-tab {
                    border-top-color: var(--textreader-active-tab-bg-color);
                    box-shadow: 2px 2px 3px var(--textreader-box-shadow-color);
                }
            }
        }
        .tr-tab-buttons__item {
            margin-right: 0px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .tr-nav-wrap {
        border: 1px solid var(--textreader-border-color);
        border-top: none;
    }
    .tr-nav {
        display: table;
        width: 100%;
        padding: 5px 10px;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(var(--textreader-nav-gradient-start)), to(var(--textreader-nav-gradient-end)));
        background: -webkit-linear-gradient(top, var(--textreader-nav-gradient-start), var(--textreader-nav-gradient-end));
        background: -moz-linear-gradient(top, var(--textreader-nav-gradient-start), var(--textreader-nav-gradient-end));
        background: -ms-linear-gradient(top, var(--textreader-nav-gradient-start), var(--textreader-nav-gradient-end));
        background: -o-linear-gradient(top, var(--textreader-nav-gradient-start), var(--textreader-nav-gradient-end));
        table-layout: fixed;
        font-weight: bold;
    }
    .tr-nav__col {
        display: table-cell;
        vertical-align: top;
        text-align: center;
        &:first-child {
            button {
                float: left;
            }
        }
        &:last-child {
            button {
                float: right;
            }
        }
    }
    .tr-nav-right {
        margin-right: 70px;
        border-right: 1px solid var(--textreader-border-color);
        position: relative;
    }
    .tr-nav-left {
        margin-left: 70px;
        border-left: 1px solid var(--textreader-border-color);
    }

    [data-role="tooltip-target"] {
        @include tooltip-styles();
    }

    /* tooltips */
    [data-role="tooltip-content"] {
        &[aria-hidden="true"] {
            display: none;
        }
    }
}

/* tooltips override styles for the previewer */
.preview-container {
    .qti-item {
        .textReaderInteraction {
            [data-role="tooltip-target"] {
                @include tooltip-styles();
            }
        }
    }
}
